.nahval{
	height:465px;
	border-radius:15px;
	background-color:#2f3542;
	margin:0px auto;
	text-align:center;
	width:360px;
}

.n1{

}

.otst{
	margin-top: 51px;
    margin-bottom: 32px;
}

.img-hv{
	
}

