.nahval{
    border-radius: 15px;
    background-color: #2f3542;
    margin: 0px auto;
    text-align: center;
    float: left;
    height: 260px;
    width: 230px;
	
}

.n1{
	float: left;
	padding-left: 20px;
	padding-bottom: 50px;
}

.n1 p{
    color: white;
    font-weight: bold;
    margin-top: 22px;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
}

.b-a-f{
	background: url(../img/dost.jpg);
	background-attachment: fixed;
	padding-top: 50px;
	text-align: center;
	overflow-x: scroll;
}

.blockckontent{
	display:table;
	margin: auto;
	width: 760px;
}

.otst{
	margin-top: 51px;
    margin-bottom: 51px;
}

.img-hv{
	padding-top:14px;
}


::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #e92e49;
}

::-webkit-scrollbar-track{
    border-width:0;
	background-color: RGBA(0,0,0,0);
}

.red-separ{
	height: 74px;
    background-color: #e92e49;
    float: right;
    color: white;
    font-size: 2em;
    font-weight: bold;
	text-align: center;
}

.red-separ p{
    height: 74px;
    position:absolute; 
	padding-top: 18px;
}

.black-separ{
	height:74px;
	text-align:right;
	background: url(../img/dost.jpg);
	background-attachment: fixed;
}

.imgSep{
    height: 216px;
    float: right;
    margin-top: -34px;
}

.w-separ{
	height:37px;
	background-color:white;
}

.s-lider-i{
	color:white;
	padding-left:15%
}

.s-lider-i h1{
	margin:0;
	padding-top:5%;
	font-size:4em;
	padding-bottom:2%;
}

.s-lider-i p{
	margin:0;
	font-size:2em;
	height: 28px;
}


